**/*.o
**/*.DS_Store
*.o
tags
*.wasm
session.vim
*.sublime-project
*.sublime-workspace
*.code-workspace
*.pdb
*.ilk
*.obj
*.exe
*.dll
*.rdbg
tmp/
.vimspector.json
.vscode/
dist/
**/node_modules/
onyx-lsp.ini
shared/lib/linux_x86_64/lib/libovmwasm.a
bin/onyx-run
bin/onyx
releases/
compiler/onyx
compiler/libonyx.so
compiler/libonyx.dylib
compiler/libonyx.dll
runtime/onyx_runtime.so
runtime/onyx_runtime.dylib
runtime/onyx_runtime.dll
.clangd
